<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>.</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string></string>
			<key>spriteSize</key>
			<string>{0,0}</string>
			<key>spriteSourceSize</key>
			<string></string>
			<key>textureRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>..</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string></string>
			<key>spriteSize</key>
			<string>{0,0}</string>
			<key>spriteSourceSize</key>
			<string></string>
			<key>textureRect</key>
			<string>{{1,0},{0,0}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_bonus_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{118,124}</string>
			<key>spriteSourceSize</key>
			<string>{118,125}</string>
			<key>textureRect</key>
			<string>{{0,1},{118,124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_bonus_locked_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{118,124}</string>
			<key>spriteSourceSize</key>
			<string>{118,125}</string>
			<key>textureRect</key>
			<string>{{120,1},{118,124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_chaos_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{118,120}</string>
			<key>spriteSourceSize</key>
			<string>{118,122}</string>
			<key>textureRect</key>
			<string>{{0,126},{118,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_chaos_locked_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{118,120}</string>
			<key>spriteSourceSize</key>
			<string>{118,122}</string>
			<key>textureRect</key>
			<string>{{119,126},{118,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_crystal_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-3}</string>
			<key>spriteSize</key>
			<string>{118,116}</string>
			<key>spriteSourceSize</key>
			<string>{118,122}</string>
			<key>textureRect</key>
			<string>{{238,126},{118,116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_crystal_locked_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-3}</string>
			<key>spriteSize</key>
			<string>{118,116}</string>
			<key>spriteSourceSize</key>
			<string>{118,122}</string>
			<key>textureRect</key>
			<string>{{358,126},{118,116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_death_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,12}</string>
			<key>spriteSize</key>
			<string>{118,137}</string>
			<key>spriteSourceSize</key>
			<string>{118,160}</string>
			<key>textureRect</key>
			<string>{{0,247},{118,137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_death_locked_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,12}</string>
			<key>spriteSize</key>
			<string>{118,137}</string>
			<key>spriteSourceSize</key>
			<string>{118,160}</string>
			<key>textureRect</key>
			<string>{{119,247},{118,137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_demon_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{118,125}</string>
			<key>spriteSourceSize</key>
			<string>{118,129}</string>
			<key>textureRect</key>
			<string>{{238,247},{118,125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_demon_locked_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{118,125}</string>
			<key>spriteSourceSize</key>
			<string>{118,129}</string>
			<key>textureRect</key>
			<string>{{356,247},{118,125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_doom_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{118,133}</string>
			<key>spriteSourceSize</key>
			<string>{118,141}</string>
			<key>textureRect</key>
			<string>{{475,247},{118,133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_doom_locked_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{118,133}</string>
			<key>spriteSourceSize</key>
			<string>{118,141}</string>
			<key>textureRect</key>
			<string>{{594,247},{118,133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_fire_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{119,121}</string>
			<key>spriteSourceSize</key>
			<string>{119,121}</string>
			<key>textureRect</key>
			<string>{{239,1},{119,121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_fire_locked_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{119,121}</string>
			<key>spriteSourceSize</key>
			<string>{119,121}</string>
			<key>textureRect</key>
			<string>{{359,1},{119,121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_ice_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{119,113}</string>
			<key>spriteSourceSize</key>
			<string>{119,113}</string>
			<key>textureRect</key>
			<string>{{477,126},{119,113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_ice_locked_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{119,113}</string>
			<key>spriteSourceSize</key>
			<string>{119,113}</string>
			<key>textureRect</key>
			<string>{{597,126},{119,113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_lava_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{120,132}</string>
			<key>spriteSourceSize</key>
			<string>{120,133}</string>
			<key>textureRect</key>
			<string>{{712,247},{120,132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_lava_locked_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{120,132}</string>
			<key>spriteSourceSize</key>
			<string>{120,133}</string>
			<key>textureRect</key>
			<string>{{832,247},{120,132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_magic_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{118,126}</string>
			<key>spriteSourceSize</key>
			<string>{118,128}</string>
			<key>textureRect</key>
			<string>{{0,385},{118,126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_magic_locked_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{118,126}</string>
			<key>spriteSourceSize</key>
			<string>{118,128}</string>
			<key>textureRect</key>
			<string>{{120,385},{118,126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_monster_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{118,129}</string>
			<key>spriteSourceSize</key>
			<string>{118,132}</string>
			<key>textureRect</key>
			<string>{{0,512},{118,129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_monster_locked_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{118,129}</string>
			<key>spriteSourceSize</key>
			<string>{118,132}</string>
			<key>textureRect</key>
			<string>{{120,512},{118,129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_poison_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{118,123}</string>
			<key>spriteSourceSize</key>
			<string>{118,131}</string>
			<key>textureRect</key>
			<string>{{479,1},{118,123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_poison_locked_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{118,123}</string>
			<key>spriteSourceSize</key>
			<string>{118,131}</string>
			<key>textureRect</key>
			<string>{{598,1},{118,123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_shadow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-4}</string>
			<key>spriteSize</key>
			<string>{118,108}</string>
			<key>spriteSourceSize</key>
			<string>{118,117}</string>
			<key>textureRect</key>
			<string>{{717,126},{118,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_shadow_locked_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-4}</string>
			<key>spriteSize</key>
			<string>{118,108}</string>
			<key>spriteSourceSize</key>
			<string>{118,117}</string>
			<key>textureRect</key>
			<string>{{836,126},{118,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_spike_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{118,137}</string>
			<key>spriteSourceSize</key>
			<string>{118,143}</string>
			<key>textureRect</key>
			<string>{{0,642},{118,137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_spike_locked_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{118,137}</string>
			<key>spriteSourceSize</key>
			<string>{118,143}</string>
			<key>textureRect</key>
			<string>{{120,642},{118,137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_time_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{118,128}</string>
			<key>spriteSourceSize</key>
			<string>{118,137}</string>
			<key>textureRect</key>
			<string>{{239,512},{118,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_time_locked_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{118,128}</string>
			<key>spriteSourceSize</key>
			<string>{118,137}</string>
			<key>textureRect</key>
			<string>{{358,512},{118,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>theLostGauntletsLabel_001.pdn</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string></string>
			<key>spriteSize</key>
			<string>{0,0}</string>
			<key>spriteSourceSize</key>
			<string></string>
			<key>textureRect</key>
			<string>{{2,0},{0,0}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>theLostGauntletsLabel_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{626,65}</string>
			<key>spriteSourceSize</key>
			<string>{631,70}</string>
			<key>textureRect</key>
			<string>{{239,385},{626,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>GauntletSheet-hd.png</string>
		<key>size</key>
		<string>{955,780}</string>
		<key>smartupdate</key>
		<string>$none</string>
		<key>textureFileName</key>
		<string>GauntletSheet-hd.png</string>
	</dict>
</dict>
</plist>
