<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>.</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{0,0}</string>
			<key>spriteSourceSize</key>
			<string>{0,0}</string>
			<key>textureRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>..</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{0,0}</string>
			<key>spriteSourceSize</key>
			<string>{0,0}</string>
			<key>textureRect</key>
			<string>{{1,0},{0,0}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>demisans.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{0,1},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gdl_icon.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{65,1},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gdl_logo_text.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{423,48}</string>
			<key>spriteSourceSize</key>
			<string>{423,48}</string>
			<key>textureRect</key>
			<string>{{130,1},{423,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>guschin.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{554,1},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>jaan.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{619,1},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>lukasradon.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{684,1},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>maximal.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{749,1},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mye.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{0,66},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>noname.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{65,66},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raelc.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{130,66},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uulti.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{195,66},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>GDL_Plist-hd.png</string>
		<key>size</key>
		<string>{814,131}</string>
		<key>smartupdate</key>
		<string>$none</string>
		<key>textureFileName</key>
		<string>GDL_Plist-hd.png</string>
	</dict>
</dict>
</plist>
