<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>.</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string></string>
			<key>spriteSize</key>
			<string>{0,0}</string>
			<key>spriteSourceSize</key>
			<string></string>
			<key>textureRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>..</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string></string>
			<key>spriteSize</key>
			<string>{0,0}</string>
			<key>spriteSourceSize</key>
			<string></string>
			<key>textureRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest03_small_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-0.25}</string>
			<key>spriteSize</key>
			<string>{30,26}</string>
			<key>spriteSourceSize</key>
			<string>{30,26}</string>
			<key>textureRect</key>
			<string>{{0,0},{30,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{99,80}</string>
			<key>spriteSourceSize</key>
			<string>{99,80}</string>
			<key>textureRect</key>
			<string>{{0,26},{99,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{96,77}</string>
			<key>spriteSourceSize</key>
			<string>{96,77}</string>
			<key>textureRect</key>
			<string>{{100,26},{96,77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.75}</string>
			<key>spriteSize</key>
			<string>{96,79}</string>
			<key>spriteSourceSize</key>
			<string>{96,80}</string>
			<key>textureRect</key>
			<string>{{0,107},{96,79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_03_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,3.5}</string>
			<key>spriteSize</key>
			<string>{76,7}</string>
			<key>spriteSourceSize</key>
			<string>{76,14}</string>
			<key>textureRect</key>
			<string>{{31,0},{76,7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,14.5}</string>
			<key>spriteSize</key>
			<string>{163,34}</string>
			<key>spriteSourceSize</key>
			<string>{164,62}</string>
			<key>textureRect</key>
			<string>{{0,187},{163,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-17.75}</string>
			<key>spriteSize</key>
			<string>{96,41}</string>
			<key>spriteSourceSize</key>
			<string>{96,76}</string>
			<key>textureRect</key>
			<string>{{97,107},{96,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_04_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,16.5}</string>
			<key>spriteSize</key>
			<string>{81,49}</string>
			<key>spriteSourceSize</key>
			<string>{81,82}</string>
			<key>textureRect</key>
			<string>{{0,221},{81,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,16.5}</string>
			<key>spriteSize</key>
			<string>{74,38}</string>
			<key>spriteSourceSize</key>
			<string>{74,70}</string>
			<key>textureRect</key>
			<string>{{82,221},{74,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{124,100}</string>
			<key>spriteSourceSize</key>
			<string>{124,100}</string>
			<key>textureRect</key>
			<string>{{0,270},{124,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.25}</string>
			<key>spriteSize</key>
			<string>{120,96}</string>
			<key>spriteSourceSize</key>
			<string>{120,97}</string>
			<key>textureRect</key>
			<string>{{125,270},{120,96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,1.0}</string>
			<key>spriteSize</key>
			<string>{120,98}</string>
			<key>spriteSourceSize</key>
			<string>{120,100}</string>
			<key>textureRect</key>
			<string>{{246,270},{120,98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_03_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,4.5}</string>
			<key>spriteSize</key>
			<string>{94,16}</string>
			<key>spriteSourceSize</key>
			<string>{94,24}</string>
			<key>textureRect</key>
			<string>{{107,0},{94,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,18.25}</string>
			<key>spriteSize</key>
			<string>{204,42}</string>
			<key>spriteSourceSize</key>
			<string>{204,78}</string>
			<key>textureRect</key>
			<string>{{156,221},{204,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-22.0}</string>
			<key>spriteSize</key>
			<string>{120,52}</string>
			<key>spriteSourceSize</key>
			<string>{120,96}</string>
			<key>textureRect</key>
			<string>{{194,107},{120,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_04_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,20.75}</string>
			<key>spriteSize</key>
			<string>{101,61}</string>
			<key>spriteSourceSize</key>
			<string>{101,102}</string>
			<key>textureRect</key>
			<string>{{196,26},{101,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,20.5}</string>
			<key>spriteSize</key>
			<string>{92,47}</string>
			<key>spriteSourceSize</key>
			<string>{92,88}</string>
			<key>textureRect</key>
			<string>{{298,26},{92,47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.25}</string>
			<key>spriteSize</key>
			<string>{120,96}</string>
			<key>spriteSourceSize</key>
			<string>{120,97}</string>
			<key>textureRect</key>
			<string>{{0,371},{120,96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,1.0}</string>
			<key>spriteSize</key>
			<string>{120,98}</string>
			<key>spriteSourceSize</key>
			<string>{120,100}</string>
			<key>textureRect</key>
			<string>{{0,468},{120,98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_03_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,4.5}</string>
			<key>spriteSize</key>
			<string>{94,16}</string>
			<key>spriteSourceSize</key>
			<string>{94,24}</string>
			<key>textureRect</key>
			<string>{{202,0},{94,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,18.25}</string>
			<key>spriteSize</key>
			<string>{204,42}</string>
			<key>spriteSourceSize</key>
			<string>{204,78}</string>
			<key>textureRect</key>
			<string>{{121,371},{204,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-22.0}</string>
			<key>spriteSize</key>
			<string>{120,52}</string>
			<key>spriteSourceSize</key>
			<string>{120,96}</string>
			<key>textureRect</key>
			<string>{{121,468},{120,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_04_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,20.75}</string>
			<key>spriteSize</key>
			<string>{101,61}</string>
			<key>spriteSourceSize</key>
			<string>{101,102}</string>
			<key>textureRect</key>
			<string>{{242,468},{101,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,20.5}</string>
			<key>spriteSize</key>
			<string>{92,47}</string>
			<key>spriteSourceSize</key>
			<string>{92,88}</string>
			<key>textureRect</key>
			<string>{{0,567},{92,47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.25}</string>
			<key>spriteSize</key>
			<string>{120,96}</string>
			<key>spriteSourceSize</key>
			<string>{120,97}</string>
			<key>textureRect</key>
			<string>{{326,371},{120,96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,1.0}</string>
			<key>spriteSize</key>
			<string>{120,98}</string>
			<key>spriteSourceSize</key>
			<string>{120,100}</string>
			<key>textureRect</key>
			<string>{{344,468},{120,98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_03_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,4.5}</string>
			<key>spriteSize</key>
			<string>{94,16}</string>
			<key>spriteSourceSize</key>
			<string>{94,24}</string>
			<key>textureRect</key>
			<string>{{297,0},{94,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,18.25}</string>
			<key>spriteSize</key>
			<string>{204,42}</string>
			<key>spriteSourceSize</key>
			<string>{204,78}</string>
			<key>textureRect</key>
			<string>{{92,567},{204,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-22.0}</string>
			<key>spriteSize</key>
			<string>{120,52}</string>
			<key>spriteSourceSize</key>
			<string>{120,96}</string>
			<key>textureRect</key>
			<string>{{314,107},{120,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_04_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,20.75}</string>
			<key>spriteSize</key>
			<string>{101,61}</string>
			<key>spriteSourceSize</key>
			<string>{101,102}</string>
			<key>textureRect</key>
			<string>{{436,107},{101,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,20.5}</string>
			<key>spriteSize</key>
			<string>{92,47}</string>
			<key>spriteSourceSize</key>
			<string>{92,88}</string>
			<key>textureRect</key>
			<string>{{297,567},{92,47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_price_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{54,16}</string>
			<key>spriteSourceSize</key>
			<string>{54,16}</string>
			<key>textureRect</key>
			<string>{{392,0},{54,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_glow_bg_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-66.25,-8.75}</string>
			<key>spriteSize</key>
			<string>{51,24}</string>
			<key>spriteSourceSize</key>
			<string>{184,41}</string>
			<key>textureRect</key>
			<string>{{447,0},{51,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_shadow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{120,18}</string>
			<key>spriteSourceSize</key>
			<string>{120,18}</string>
			<key>textureRect</key>
			<string>{{499,0},{120,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>getOrbsLabel_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-1.75}</string>
			<key>spriteSize</key>
			<string>{46,38}</string>
			<key>spriteSourceSize</key>
			<string>{46,41}</string>
			<key>textureRect</key>
			<string>{{390,567},{46,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gj_videoRewardBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0.0}</string>
			<key>spriteSize</key>
			<string>{94,72}</string>
			<key>spriteSourceSize</key>
			<string>{95,72}</string>
			<key>textureRect</key>
			<string>{{537,107},{94,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plushies_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,0.75}</string>
			<key>spriteSize</key>
			<string>{93,52}</string>
			<key>spriteSourceSize</key>
			<string>{98,54}</string>
			<key>textureRect</key>
			<string>{{632,107},{93,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopBG_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{480,320}</string>
			<key>spriteSourceSize</key>
			<string>{480,320}</string>
			<key>textureRect</key>
			<string>{{0,615},{480,320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_eye_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{619,0},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_eye_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-2.25}</string>
			<key>spriteSize</key>
			<string>{18,14}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{637,0},{18,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_eye_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-4.75}</string>
			<key>spriteSize</key>
			<string>{18,8}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{656,0},{18,8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_eye_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-2.0}</string>
			<key>spriteSize</key>
			<string>{15,2}</string>
			<key>spriteSourceSize</key>
			<string>{15,6}</string>
			<key>textureRect</key>
			<string>{{674,0},{15,2}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_eye_05_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{16,4}</string>
			<key>spriteSourceSize</key>
			<string>{16,4}</string>
			<key>textureRect</key>
			<string>{{690,0},{16,4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_hand_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{21,12}</string>
			<key>spriteSourceSize</key>
			<string>{21,12}</string>
			<key>textureRect</key>
			<string>{{706,0},{21,12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_head_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{67,33}</string>
			<key>spriteSourceSize</key>
			<string>{67,33}</string>
			<key>textureRect</key>
			<string>{{164,187},{67,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_jaw_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{67,25}</string>
			<key>spriteSourceSize</key>
			<string>{67,25}</string>
			<key>textureRect</key>
			<string>{{727,0},{67,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_jaw_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{67,25}</string>
			<key>spriteSourceSize</key>
			<string>{67,25}</string>
			<key>textureRect</key>
			<string>{{231,187},{67,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_jaw_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{67,27}</string>
			<key>spriteSourceSize</key>
			<string>{67,27}</string>
			<key>textureRect</key>
			<string>{{298,187},{67,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_mouth_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{42,42}</string>
			<key>spriteSourceSize</key>
			<string>{42,42}</string>
			<key>textureRect</key>
			<string>{{436,567},{42,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_pupil_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{7,7}</string>
			<key>spriteSourceSize</key>
			<string>{7,7}</string>
			<key>textureRect</key>
			<string>{{366,187},{7,7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_pupil_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{7,4}</string>
			<key>spriteSourceSize</key>
			<string>{7,7}</string>
			<key>textureRect</key>
			<string>{{374,187},{7,4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_torso_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{52,37}</string>
			<key>spriteSourceSize</key>
			<string>{52,37}</string>
			<key>textureRect</key>
			<string>{{478,567},{52,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_eye_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{381,187},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_eye_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-2.25}</string>
			<key>spriteSize</key>
			<string>{18,14}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{400,187},{18,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_eye_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-4.75}</string>
			<key>spriteSize</key>
			<string>{18,8}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{418,187},{18,8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_eye_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-2.0}</string>
			<key>spriteSize</key>
			<string>{15,2}</string>
			<key>spriteSourceSize</key>
			<string>{15,6}</string>
			<key>textureRect</key>
			<string>{{436,187},{15,2}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_eye_05_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{16,4}</string>
			<key>spriteSourceSize</key>
			<string>{16,4}</string>
			<key>textureRect</key>
			<string>{{452,187},{16,4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_hand_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{21,12}</string>
			<key>spriteSourceSize</key>
			<string>{21,12}</string>
			<key>textureRect</key>
			<string>{{468,187},{21,12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_head_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-2.75}</string>
			<key>spriteSize</key>
			<string>{67,39}</string>
			<key>spriteSourceSize</key>
			<string>{67,44}</string>
			<key>textureRect</key>
			<string>{{531,567},{67,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_jaw_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-3.25}</string>
			<key>spriteSize</key>
			<string>{67,18}</string>
			<key>spriteSourceSize</key>
			<string>{67,25}</string>
			<key>textureRect</key>
			<string>{{490,187},{67,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_jaw_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{67,25}</string>
			<key>spriteSourceSize</key>
			<string>{67,25}</string>
			<key>textureRect</key>
			<string>{{557,187},{67,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_jaw_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{67,27}</string>
			<key>spriteSourceSize</key>
			<string>{67,27}</string>
			<key>textureRect</key>
			<string>{{624,187},{67,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_mouth_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{42,42}</string>
			<key>spriteSourceSize</key>
			<string>{42,42}</string>
			<key>textureRect</key>
			<string>{{598,567},{42,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_pupil_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{7,7}</string>
			<key>spriteSourceSize</key>
			<string>{7,7}</string>
			<key>textureRect</key>
			<string>{{692,187},{7,7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_pupil_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{7,4}</string>
			<key>spriteSourceSize</key>
			<string>{7,7}</string>
			<key>textureRect</key>
			<string>{{700,187},{7,4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_torso_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{52,37}</string>
			<key>spriteSourceSize</key>
			<string>{52,37}</string>
			<key>textureRect</key>
			<string>{{641,567},{52,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_eye_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{707,187},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_eye_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-2.25}</string>
			<key>spriteSize</key>
			<string>{18,14}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{726,187},{18,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_eye_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-4.75}</string>
			<key>spriteSize</key>
			<string>{18,8}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{744,187},{18,8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_eye_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-2.0}</string>
			<key>spriteSize</key>
			<string>{15,2}</string>
			<key>spriteSourceSize</key>
			<string>{15,6}</string>
			<key>textureRect</key>
			<string>{{762,187},{15,2}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_eye_05_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{16,4}</string>
			<key>spriteSourceSize</key>
			<string>{16,4}</string>
			<key>textureRect</key>
			<string>{{778,187},{16,4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_hand_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{21,12}</string>
			<key>spriteSourceSize</key>
			<string>{21,12}</string>
			<key>textureRect</key>
			<string>{{694,567},{21,12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_head_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{67,33}</string>
			<key>spriteSourceSize</key>
			<string>{67,33}</string>
			<key>textureRect</key>
			<string>{{715,567},{67,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_jaw_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{67,25}</string>
			<key>spriteSourceSize</key>
			<string>{67,25}</string>
			<key>textureRect</key>
			<string>{{360,221},{67,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_jaw_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{67,25}</string>
			<key>spriteSourceSize</key>
			<string>{67,25}</string>
			<key>textureRect</key>
			<string>{{428,221},{67,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_jaw_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{67,27}</string>
			<key>spriteSourceSize</key>
			<string>{67,27}</string>
			<key>textureRect</key>
			<string>{{495,221},{67,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_mouth_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{42,42}</string>
			<key>spriteSourceSize</key>
			<string>{42,42}</string>
			<key>textureRect</key>
			<string>{{563,221},{42,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_pupil_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{7,7}</string>
			<key>spriteSourceSize</key>
			<string>{7,7}</string>
			<key>textureRect</key>
			<string>{{783,567},{7,7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_pupil_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{7,4}</string>
			<key>spriteSourceSize</key>
			<string>{7,7}</string>
			<key>textureRect</key>
			<string>{{790,567},{7,4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_torso_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{52,36}</string>
			<key>spriteSourceSize</key>
			<string>{52,36}</string>
			<key>textureRect</key>
			<string>{{605,221},{52,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopRope2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.0,-24.75}</string>
			<key>spriteSize</key>
			<string>{47,66}</string>
			<key>spriteSourceSize</key>
			<string>{49,116}</string>
			<key>textureRect</key>
			<string>{{726,107},{47,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopRope2_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.25,0.0}</string>
			<key>spriteSize</key>
			<string>{14,21}</string>
			<key>spriteSourceSize</key>
			<string>{16,21}</string>
			<key>textureRect</key>
			<string>{{658,221},{14,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopRope3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.25,-24.75}</string>
			<key>spriteSize</key>
			<string>{42,66}</string>
			<key>spriteSourceSize</key>
			<string>{45,116}</string>
			<key>textureRect</key>
			<string>{{390,26},{42,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopRope3_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.25,0.0}</string>
			<key>spriteSize</key>
			<string>{14,21}</string>
			<key>spriteSourceSize</key>
			<string>{16,21}</string>
			<key>textureRect</key>
			<string>{{672,221},{14,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopSign2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.75}</string>
			<key>spriteSize</key>
			<string>{141,87}</string>
			<key>spriteSourceSize</key>
			<string>{141,88}</string>
			<key>textureRect</key>
			<string>{{446,371},{141,87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopSign3_001.pdn</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string></string>
			<key>spriteSize</key>
			<string>{0,0}</string>
			<key>spriteSourceSize</key>
			<string></string>
			<key>textureRect</key>
			<string>{{1,0},{0,0}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopSign3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,-0.75}</string>
			<key>spriteSize</key>
			<string>{139,89}</string>
			<key>spriteSourceSize</key>
			<string>{140,90}</string>
			<key>textureRect</key>
			<string>{{588,371},{139,89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopSign_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.75,8.75}</string>
			<key>spriteSize</key>
			<string>{138,70}</string>
			<key>spriteSourceSize</key>
			<string>{139,88}</string>
			<key>textureRect</key>
			<string>{{434,26},{138,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>storeDesk_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{464,194}</string>
			<key>spriteSourceSize</key>
			<string>{464,194}</string>
			<key>textureRect</key>
			<string>{{0,935},{464,194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>GJ_ShopSheet.png</string>
		<key>size</key>
		<string>{798,1130}</string>
		<key>smartupdate</key>
		<string>$none</string>
		<key>textureFileName</key>
		<string>GJ_ShopSheet.png</string>
	</dict>
</dict>
</plist>
