<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>.</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string></string>
			<key>spriteSize</key>
			<string>{0,0}</string>
			<key>spriteSourceSize</key>
			<string></string>
			<key>textureRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>..</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string></string>
			<key>spriteSize</key>
			<string>{0,0}</string>
			<key>spriteSourceSize</key>
			<string></string>
			<key>textureRect</key>
			<string>{{1,0},{0,0}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest03_small_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-0.5}</string>
			<key>spriteSize</key>
			<string>{61,51}</string>
			<key>spriteSourceSize</key>
			<string>{61,52}</string>
			<key>textureRect</key>
			<string>{{0,1},{61,51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{198,160}</string>
			<key>spriteSourceSize</key>
			<string>{198,160}</string>
			<key>textureRect</key>
			<string>{{0,53},{198,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{192,154}</string>
			<key>spriteSourceSize</key>
			<string>{192,154}</string>
			<key>textureRect</key>
			<string>{{200,53},{192,154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,1.5}</string>
			<key>spriteSize</key>
			<string>{192,158}</string>
			<key>spriteSourceSize</key>
			<string>{192,161}</string>
			<key>textureRect</key>
			<string>{{0,214},{192,158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_03_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,7.0}</string>
			<key>spriteSize</key>
			<string>{152,14}</string>
			<key>spriteSourceSize</key>
			<string>{152,28}</string>
			<key>textureRect</key>
			<string>{{62,1},{152,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,29.0}</string>
			<key>spriteSize</key>
			<string>{326,67}</string>
			<key>spriteSourceSize</key>
			<string>{327,125}</string>
			<key>textureRect</key>
			<string>{{0,374},{326,67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-35.5}</string>
			<key>spriteSize</key>
			<string>{192,82}</string>
			<key>spriteSourceSize</key>
			<string>{192,153}</string>
			<key>textureRect</key>
			<string>{{194,214},{192,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_04_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,33.0}</string>
			<key>spriteSize</key>
			<string>{162,98}</string>
			<key>spriteSourceSize</key>
			<string>{162,164}</string>
			<key>textureRect</key>
			<string>{{0,442},{162,98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,33.0}</string>
			<key>spriteSize</key>
			<string>{148,75}</string>
			<key>spriteSourceSize</key>
			<string>{148,141}</string>
			<key>textureRect</key>
			<string>{{163,442},{148,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{249,201}</string>
			<key>spriteSourceSize</key>
			<string>{249,201}</string>
			<key>textureRect</key>
			<string>{{0,540},{249,201}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.5}</string>
			<key>spriteSize</key>
			<string>{241,193}</string>
			<key>spriteSourceSize</key>
			<string>{241,194}</string>
			<key>textureRect</key>
			<string>{{250,540},{241,193}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,2.0}</string>
			<key>spriteSize</key>
			<string>{241,197}</string>
			<key>spriteSourceSize</key>
			<string>{241,201}</string>
			<key>textureRect</key>
			<string>{{492,540},{241,197}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_03_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,9.0}</string>
			<key>spriteSize</key>
			<string>{189,31}</string>
			<key>spriteSourceSize</key>
			<string>{189,49}</string>
			<key>textureRect</key>
			<string>{{214,1},{189,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,36.5}</string>
			<key>spriteSize</key>
			<string>{408,84}</string>
			<key>spriteSourceSize</key>
			<string>{409,157}</string>
			<key>textureRect</key>
			<string>{{312,442},{408,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-44.0}</string>
			<key>spriteSize</key>
			<string>{241,103}</string>
			<key>spriteSourceSize</key>
			<string>{241,191}</string>
			<key>textureRect</key>
			<string>{{387,214},{241,103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_04_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,41.5}</string>
			<key>spriteSize</key>
			<string>{202,122}</string>
			<key>spriteSourceSize</key>
			<string>{202,205}</string>
			<key>textureRect</key>
			<string>{{393,53},{202,122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,41.0}</string>
			<key>spriteSize</key>
			<string>{184,94}</string>
			<key>spriteSourceSize</key>
			<string>{184,176}</string>
			<key>textureRect</key>
			<string>{{596,53},{184,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.5}</string>
			<key>spriteSize</key>
			<string>{241,193}</string>
			<key>spriteSourceSize</key>
			<string>{241,194}</string>
			<key>textureRect</key>
			<string>{{0,742},{241,193}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,2.0}</string>
			<key>spriteSize</key>
			<string>{241,197}</string>
			<key>spriteSourceSize</key>
			<string>{241,201}</string>
			<key>textureRect</key>
			<string>{{0,936},{241,197}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_03_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,9.0}</string>
			<key>spriteSize</key>
			<string>{189,31}</string>
			<key>spriteSourceSize</key>
			<string>{189,49}</string>
			<key>textureRect</key>
			<string>{{404,1},{189,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,36.5}</string>
			<key>spriteSize</key>
			<string>{408,84}</string>
			<key>spriteSourceSize</key>
			<string>{409,157}</string>
			<key>textureRect</key>
			<string>{{242,742},{408,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-44.0}</string>
			<key>spriteSize</key>
			<string>{241,103}</string>
			<key>spriteSourceSize</key>
			<string>{241,191}</string>
			<key>textureRect</key>
			<string>{{242,936},{241,103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_04_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,41.5}</string>
			<key>spriteSize</key>
			<string>{202,122}</string>
			<key>spriteSourceSize</key>
			<string>{202,205}</string>
			<key>textureRect</key>
			<string>{{484,936},{202,122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,41.0}</string>
			<key>spriteSize</key>
			<string>{184,94}</string>
			<key>spriteSourceSize</key>
			<string>{184,176}</string>
			<key>textureRect</key>
			<string>{{0,1134},{184,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.5}</string>
			<key>spriteSize</key>
			<string>{241,193}</string>
			<key>spriteSourceSize</key>
			<string>{241,194}</string>
			<key>textureRect</key>
			<string>{{651,742},{241,193}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,2.0}</string>
			<key>spriteSize</key>
			<string>{241,197}</string>
			<key>spriteSourceSize</key>
			<string>{241,201}</string>
			<key>textureRect</key>
			<string>{{687,936},{241,197}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_03_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,9.0}</string>
			<key>spriteSize</key>
			<string>{189,31}</string>
			<key>spriteSourceSize</key>
			<string>{189,49}</string>
			<key>textureRect</key>
			<string>{{594,1},{189,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,36.5}</string>
			<key>spriteSize</key>
			<string>{408,84}</string>
			<key>spriteSourceSize</key>
			<string>{409,157}</string>
			<key>textureRect</key>
			<string>{{185,1134},{408,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-44.0}</string>
			<key>spriteSize</key>
			<string>{241,103}</string>
			<key>spriteSourceSize</key>
			<string>{241,191}</string>
			<key>textureRect</key>
			<string>{{629,214},{241,103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_04_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,41.5}</string>
			<key>spriteSize</key>
			<string>{202,122}</string>
			<key>spriteSourceSize</key>
			<string>{202,205}</string>
			<key>textureRect</key>
			<string>{{871,214},{202,122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,41.0}</string>
			<key>spriteSize</key>
			<string>{184,94}</string>
			<key>spriteSourceSize</key>
			<string>{184,176}</string>
			<key>textureRect</key>
			<string>{{594,1134},{184,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_price_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{109,33}</string>
			<key>spriteSourceSize</key>
			<string>{109,33}</string>
			<key>textureRect</key>
			<string>{{784,1},{109,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_glow_bg_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-132.5,-17.5}</string>
			<key>spriteSize</key>
			<string>{102,47}</string>
			<key>spriteSourceSize</key>
			<string>{367,82}</string>
			<key>textureRect</key>
			<string>{{894,1},{102,47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_shadow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{239,36}</string>
			<key>spriteSourceSize</key>
			<string>{239,36}</string>
			<key>textureRect</key>
			<string>{{998,1},{239,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>getOrbsLabel_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-3.5}</string>
			<key>spriteSize</key>
			<string>{91,75}</string>
			<key>spriteSourceSize</key>
			<string>{91,82}</string>
			<key>textureRect</key>
			<string>{{779,1134},{91,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gj_videoRewardBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,0.0}</string>
			<key>spriteSize</key>
			<string>{189,145}</string>
			<key>spriteSourceSize</key>
			<string>{190,145}</string>
			<key>textureRect</key>
			<string>{{1074,214},{189,145}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plushies_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4.0,1.5}</string>
			<key>spriteSize</key>
			<string>{186,104}</string>
			<key>spriteSourceSize</key>
			<string>{196,109}</string>
			<key>textureRect</key>
			<string>{{1264,214},{186,104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopBG_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{960,640}</string>
			<key>spriteSourceSize</key>
			<string>{960,640}</string>
			<key>textureRect</key>
			<string>{{0,1230},{960,640}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_eye_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{1238,1},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_eye_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-4.5}</string>
			<key>spriteSize</key>
			<string>{36,27}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{1274,1},{36,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_eye_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-9.5}</string>
			<key>spriteSize</key>
			<string>{36,17}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{1312,1},{36,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_eye_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-4.0}</string>
			<key>spriteSize</key>
			<string>{30,5}</string>
			<key>spriteSourceSize</key>
			<string>{30,13}</string>
			<key>textureRect</key>
			<string>{{1348,1},{30,5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_eye_05_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{31,8}</string>
			<key>spriteSourceSize</key>
			<string>{31,8}</string>
			<key>textureRect</key>
			<string>{{1380,1},{31,8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_hand_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{42,24}</string>
			<key>spriteSourceSize</key>
			<string>{42,24}</string>
			<key>textureRect</key>
			<string>{{1412,1},{42,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_head_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{134,66}</string>
			<key>spriteSourceSize</key>
			<string>{134,66}</string>
			<key>textureRect</key>
			<string>{{327,374},{134,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_jaw_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{134,50}</string>
			<key>spriteSourceSize</key>
			<string>{134,50}</string>
			<key>textureRect</key>
			<string>{{1454,1},{134,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_jaw_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{134,50}</string>
			<key>spriteSourceSize</key>
			<string>{134,50}</string>
			<key>textureRect</key>
			<string>{{462,374},{134,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_jaw_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{134,54}</string>
			<key>spriteSourceSize</key>
			<string>{134,54}</string>
			<key>textureRect</key>
			<string>{{597,374},{134,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_mouth_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{84,84}</string>
			<key>spriteSourceSize</key>
			<string>{84,84}</string>
			<key>textureRect</key>
			<string>{{871,1134},{84,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_pupil_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{14,14}</string>
			<key>spriteSourceSize</key>
			<string>{14,14}</string>
			<key>textureRect</key>
			<string>{{732,374},{14,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_pupil_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-3.0}</string>
			<key>spriteSize</key>
			<string>{14,8}</string>
			<key>spriteSourceSize</key>
			<string>{14,14}</string>
			<key>textureRect</key>
			<string>{{747,374},{14,8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_torso_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{105,74}</string>
			<key>spriteSourceSize</key>
			<string>{105,74}</string>
			<key>textureRect</key>
			<string>{{956,1134},{105,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_eye_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{762,374},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_eye_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-4.5}</string>
			<key>spriteSize</key>
			<string>{36,27}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{799,374},{36,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_eye_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-9.5}</string>
			<key>spriteSize</key>
			<string>{36,17}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{836,374},{36,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_eye_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-4.0}</string>
			<key>spriteSize</key>
			<string>{30,5}</string>
			<key>spriteSourceSize</key>
			<string>{30,13}</string>
			<key>textureRect</key>
			<string>{{873,374},{30,5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_eye_05_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{31,8}</string>
			<key>spriteSourceSize</key>
			<string>{31,8}</string>
			<key>textureRect</key>
			<string>{{904,374},{31,8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_hand_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{42,24}</string>
			<key>spriteSourceSize</key>
			<string>{42,24}</string>
			<key>textureRect</key>
			<string>{{936,374},{42,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_head_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-5.5}</string>
			<key>spriteSize</key>
			<string>{134,78}</string>
			<key>spriteSourceSize</key>
			<string>{134,89}</string>
			<key>textureRect</key>
			<string>{{1062,1134},{134,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_jaw_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-6.5}</string>
			<key>spriteSize</key>
			<string>{134,37}</string>
			<key>spriteSourceSize</key>
			<string>{134,50}</string>
			<key>textureRect</key>
			<string>{{979,374},{134,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_jaw_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{134,50}</string>
			<key>spriteSourceSize</key>
			<string>{134,50}</string>
			<key>textureRect</key>
			<string>{{1114,374},{134,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_jaw_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{134,54}</string>
			<key>spriteSourceSize</key>
			<string>{134,54}</string>
			<key>textureRect</key>
			<string>{{1249,374},{134,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_mouth_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{84,84}</string>
			<key>spriteSourceSize</key>
			<string>{84,84}</string>
			<key>textureRect</key>
			<string>{{1197,1134},{84,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_pupil_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{14,14}</string>
			<key>spriteSourceSize</key>
			<string>{14,14}</string>
			<key>textureRect</key>
			<string>{{1384,374},{14,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_pupil_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-3.0}</string>
			<key>spriteSize</key>
			<string>{14,8}</string>
			<key>spriteSourceSize</key>
			<string>{14,14}</string>
			<key>textureRect</key>
			<string>{{1399,374},{14,8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_torso_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{104,74}</string>
			<key>spriteSourceSize</key>
			<string>{104,74}</string>
			<key>textureRect</key>
			<string>{{1282,1134},{104,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_eye_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{1414,374},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_eye_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-4.5}</string>
			<key>spriteSize</key>
			<string>{36,27}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{1451,374},{36,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_eye_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-9.5}</string>
			<key>spriteSize</key>
			<string>{36,17}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{1488,374},{36,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_eye_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-4.0}</string>
			<key>spriteSize</key>
			<string>{30,5}</string>
			<key>spriteSourceSize</key>
			<string>{30,13}</string>
			<key>textureRect</key>
			<string>{{1525,374},{30,5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_eye_05_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{31,8}</string>
			<key>spriteSourceSize</key>
			<string>{31,8}</string>
			<key>textureRect</key>
			<string>{{1556,374},{31,8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_hand_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{42,24}</string>
			<key>spriteSourceSize</key>
			<string>{42,24}</string>
			<key>textureRect</key>
			<string>{{1388,1134},{42,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_head_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{134,66}</string>
			<key>spriteSourceSize</key>
			<string>{134,66}</string>
			<key>textureRect</key>
			<string>{{1430,1134},{134,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_jaw_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{134,50}</string>
			<key>spriteSourceSize</key>
			<string>{134,50}</string>
			<key>textureRect</key>
			<string>{{720,442},{134,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_jaw_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{134,50}</string>
			<key>spriteSourceSize</key>
			<string>{134,50}</string>
			<key>textureRect</key>
			<string>{{856,442},{134,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_jaw_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{134,54}</string>
			<key>spriteSourceSize</key>
			<string>{134,54}</string>
			<key>textureRect</key>
			<string>{{990,442},{134,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_mouth_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{84,84}</string>
			<key>spriteSourceSize</key>
			<string>{84,84}</string>
			<key>textureRect</key>
			<string>{{1126,442},{84,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_pupil_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{14,14}</string>
			<key>spriteSourceSize</key>
			<string>{14,14}</string>
			<key>textureRect</key>
			<string>{{1566,1134},{14,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_pupil_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-3.0}</string>
			<key>spriteSize</key>
			<string>{14,8}</string>
			<key>spriteSourceSize</key>
			<string>{14,14}</string>
			<key>textureRect</key>
			<string>{{1580,1134},{14,8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_torso_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{104,72}</string>
			<key>spriteSourceSize</key>
			<string>{104,72}</string>
			<key>textureRect</key>
			<string>{{1210,442},{104,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopRope2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,-49.5}</string>
			<key>spriteSize</key>
			<string>{94,133}</string>
			<key>spriteSourceSize</key>
			<string>{98,232}</string>
			<key>textureRect</key>
			<string>{{1451,214},{94,133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopRope2_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,0.0}</string>
			<key>spriteSize</key>
			<string>{27,42}</string>
			<key>spriteSourceSize</key>
			<string>{32,42}</string>
			<key>textureRect</key>
			<string>{{1316,442},{27,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopRope3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,-49.5}</string>
			<key>spriteSize</key>
			<string>{85,133}</string>
			<key>spriteSourceSize</key>
			<string>{90,232}</string>
			<key>textureRect</key>
			<string>{{781,53},{85,133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopRope3_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,0.0}</string>
			<key>spriteSize</key>
			<string>{27,42}</string>
			<key>spriteSourceSize</key>
			<string>{32,42}</string>
			<key>textureRect</key>
			<string>{{1344,442},{27,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopSign2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,1.5}</string>
			<key>spriteSize</key>
			<string>{282,174}</string>
			<key>spriteSourceSize</key>
			<string>{282,177}</string>
			<key>textureRect</key>
			<string>{{893,742},{282,174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopSign3_001.pdn</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string></string>
			<key>spriteSize</key>
			<string>{0,0}</string>
			<key>spriteSourceSize</key>
			<string></string>
			<key>textureRect</key>
			<string>{{2,0},{0,0}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopSign3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,-1.5}</string>
			<key>spriteSize</key>
			<string>{278,178}</string>
			<key>spriteSourceSize</key>
			<string>{279,181}</string>
			<key>textureRect</key>
			<string>{{1176,742},{278,178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopSign_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,17.5}</string>
			<key>spriteSize</key>
			<string>{275,140}</string>
			<key>spriteSourceSize</key>
			<string>{278,175}</string>
			<key>textureRect</key>
			<string>{{867,53},{275,140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>storeDesk_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{927,389}</string>
			<key>spriteSourceSize</key>
			<string>{927,389}</string>
			<key>textureRect</key>
			<string>{{0,1870},{927,389}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>GJ_ShopSheet-hd.png</string>
		<key>size</key>
		<string>{1596,2260}</string>
		<key>smartupdate</key>
		<string>$none</string>
		<key>textureFileName</key>
		<string>GJ_ShopSheet-hd.png</string>
	</dict>
</dict>
</plist>
